/*Variables.scss*/
@import "variables";

/* disabled the button as it was not necessary to have in the header*/
button {display: none;}

html {
  font-family: $main-font;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body {
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    background-color: #fff;
}

/* main header */
.navbar-header {
  display: inline-block;
  font-weight: bold;
  float: left;
  margin-top: 14px;
  /* CRM title */
  .navbar-brand {
    padding: 30px;
    font-size: 25px;
    line-height: 20px;
    height: 40px;
    color: rgb(252, 255, 255);
    text-decoration: none;
    margin-right: 40px;
  }
}
  /* Colors for the header */
.navbar-default{
  background-color: #474e56;
  border-color: #f8f8f8;

}

/* additional styling on the header */
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

/* focuses on the navigation menu elements */
nav {
  .navbar-nav {
  list-style-type: none;
  position: relative;
  margin: 0px;
  float: left;
  margin-right: 160px;
      li {
      margin: 15px 30px;
      display: inline-block;
      position: relative;
    }
      li a {
        color: rgb(255, 255, 255);
      }
      a:hover {
        color: rgb(223, 210, 210);
      }
  }
}

/* drop-down arrow next to account field */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/* floats the account field into the right side of the page */
.navbar-right {
    float: right;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #e7e7e7;
    color: #555;
}

.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}
/* Main heading for all pages */
h1 {
  font-family: $main-font;
  font-weight: bold;
  text-align: center;
  background-color: rgba(200, 158, 103, 0.9);
  color: rgb(255, 252, 254);
  margin-top: -15px;
  margin-bottom: 30px;
}

/* syling for the tables */
table {
    display: table;
    border-collapse: separate;
      td, th {
      display: table-cell;
      vertical-align: inherit;
      border-spacing: 2px;
      border-bottom: 1px solid #474e56;
      }
}

.pull-right {
    float: right;
}
.btn-primary {
    color: #fff;
    background-color: rgba(200, 158, 103, 0.9);
    margin-right: 35px;
    border-color: #fff;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
